# Aufgabe 1.1

In [39]:
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
import pandas as pd
from pandas import Series,DataFrame

In [19]:
data = pd.read_csv("child.csv", sep=",", index_col=0)
#print(data.head())
print(data.shape)
print(data.describe())

(30, 21)
       Average.disposable.income  Children.in.poor.homes  \
count                  30.000000               30.000000
mean                   18.847713               12.372193
std                     7.597219                5.592696
min                     3.839462                2.740000
25%                    16.617877                8.901475
50%                    21.107187               11.659053
75%                    22.642722               16.091953
max                    34.241822               24.590000

       Educational.Deprivation  Overcrowding  Poor.environmental.conditions  \
count                30.000000     26.000000                      24.000000
mean                  2.673333     31.950163                      25.217498
std                   3.315370     21.132363                       7.483096
min                   0.400000     10.326503                      10.500000
25%                   1.000000     17.058130                      20.153506
50%                   1.500000     21.574977                      25.487116
75%                   2.200000     44.392351                      30.236732
max                  13.700000     73.957667                      38.712874

       Average.mean.literacy.score  Literacy.inequality  Youth.NEET.rate  \
count                    30.000000            30.000000        27.000000
mean                    496.317000             1.665085         7.377778
std                      29.381643             0.067391         6.489656
min                     408.670000             1.475432         1.700000
25%                     482.750000             1.623048         4.550000
50%                     501.335000             1.682739         6.200000
75%                     512.835000             1.719012         8.400000
max                     552.670000             1.755798        37.700000

       Low.birth.weight  Infant.mortality  ...  Vaccination.rates..pertussis.  \
count         30.000000         30.000000  ...                      29.000000
mean           6.643333          5.446667  ...                      93.775862
std            1.728001          4.506756  ...                       5.317334
min            3.900000          2.300000  ...                      78.000000
25%            5.150000          3.525000  ...                      91.000000
50%            6.750000          4.200000  ...                      95.800000
75%            7.500000          5.250000  ...                      97.800000
max           11.300000         23.600000  ...                      99.800000

       Vaccination.rates.measles.  Physical.activity  Mortality.rates  \
count                   29.000000          26.000000        29.000000
mean                    91.517241          20.134615        24.598966
std                      5.909138           6.157983         6.745815
min                     74.000000          13.100000        14.840000
25%                     88.000000          15.800000        21.170000
50%                     94.000000          19.300000        23.150000
75%                     96.300000          21.800000        25.750000
max                     99.800000          42.100000        50.230000

       Suicide.rates    Smoking  Drunkenness  Teenage.births   Bullying  \
count      29.000000  24.000000    24.000000       30.000000  24.000000
mean        6.856272  16.512500    15.225000       15.500000  10.979167
std         3.204545   4.766852     4.301794       13.967326   5.146462
min         1.263026   8.100000    10.000000        3.700000   4.200000
25%         5.036520  14.625000    11.350000        7.050000   7.975000
50%         6.784772  16.600000    14.550000       10.600000   9.650000
75%         8.863713  19.500000    17.925000       17.800000  13.825000
max        15.949567  27.100000    24.800000       65.800000  25.300000

       Liking.school
count       25.00000
mean        27.17200
std         10.39926
min         11.70000
25%         21.40000
50%         25.60000
75%         34.90000
max         57.40000

[8 rows x 21 columns]

In [20]:
print('Netherlands' in data.index)
print('China' in data.index)

True
False

In [28]:
drunk = data.sort_values(by='Drunkenness', ascending=False)

In [29]:
drunk["Drunkenness"]

Denmark            24.8
Finland            22.4
United Kingdom     22.1
Poland             19.9
Canada             18.8
Austria            18.6
Hungary            17.7
Czech Republic     16.8
Slovak Republic    16.8
Ireland            16.3
Spain              16.1
Germany            15.1
Norway             14.0
Belgium            13.9
Sweden             13.8
Netherlands        12.1
Luxembourg         11.7
Switzerland        11.4
France             11.2
Portugal           10.9
Iceland            10.5
Greece             10.3
United States      10.2
Italy              10.0
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64

In [32]:
data.nsmallest(n=1, columns="Infant.mortality")

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Iceland,22.286852,8.25,0.4,21.652526,15.534688,493.67,1.654064,NaN,3.9,2.3,...,97.0,94.0,20.6,16.95,7.841312,13.5,10.5,16.9,5.4,36.6

In [38]:
print(data['Physical.activity'].mean())
data.loc[data['Physical.activity'] < data['Physical.activity'].mean(), :]

20.13461538461539

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Austria,22.162446,6.166094,0.6,34.014601,20.154186,502.00,1.716942,6.9,6.8,4.2,...,83.0,74.0,19.6,24.57,9.482761,27.1,18.6,12.3,15.6,38.1
Belgium,21.401153,9.974720,1.0,12.614505,29.754526,510.33,1.740258,6.2,7.8,3.7,...,97.0,88.0,19.1,28.97,8.977713,16.7,13.9,7.8,12.2,21.6
France,18.960382,7.640000,1.2,20.284619,25.830298,493.00,1.728004,6.2,6.8,3.6,...,98.0,87.1,13.5,21.04,4.906704,19.0,11.2,6.7,13.6,21.4
Germany,19.894067,16.289270,0.5,19.967763,37.374708,505.00,1.719702,4.4,6.8,3.9,...,97.8,94.0,17.0,21.23,5.507378,19.5,15.1,9.8,13.9,34.9
Greece,17.183647,13.230296,6.1,54.922056,25.070654,464.00,1.722499,9.8,8.8,3.8,...,88.0,88.0,15.5,23.15,1.263026,16.5,10.3,8.7,22.0,25.6
Hungary,9.463130,8.724203,2.1,73.306021,22.213785,492.33,1.620710,6.4,8.2,6.2,...,99.8,99.8,19.5,25.75,6.806580,21.5,17.7,20.7,6.6,27.6
Italy,17.180761,15.500000,1.2,47.851602,32.577363,468.67,1.752955,11.2,6.7,4.7,...,94.7,87.3,15.1,21.76,2.437998,20.0,10.0,6.8,7.9,12.8
Luxembourg,34.241822,12.390000,1.1,16.893185,25.574231,485.00,1.701361,2.2,4.9,2.6,...,NaN,NaN,15.2,14.84,6.357194,19.0,11.7,8.6,13.8,20.7
Mexico,5.335074,22.164514,13.7,69.600000,NaN,408.67,1.755798,NaN,8.8,18.8,...,98.1,96.4,18.1,50.23,5.128754,NaN,NaN,65.8,NaN,NaN
Norway,28.574371,4.600000,1.3,15.113671,11.992789,487.00,1.692809,2.5,4.8,3.1,...,91.0,88.0,15.6,21.49,10.094030,10.4,14.0,9.4,8.3,41.7
Poland,7.939399,21.500000,2.1,73.957667,22.841904,500.33,1.632217,1.7,6.1,6.4,...,99.0,97.0,17.3,28.13,8.863713,16.4,19.9,14.5,9.6,21.1
Portugal,3.839462,16.550398,1.4,31.952303,33.457898,470.67,1.689477,8.4,7.5,3.5,...,93.3,92.7,14.6,34.60,2.430484,10.6,10.9,18.1,14.1,22.8
Sweden,19.916998,3.969106,1.6,20.011460,15.746422,504.00,1.630063,4.7,4.2,2.4,...,99.0,95.0,16.4,19.27,6.783234,8.5,13.8,6.8,4.2,24.1
Switzerland,24.651815,9.433293,0.7,NaN,NaN,513.67,1.650385,7.2,7.0,4.2,...,96.0,86.0,13.1,20.33,7.280508,15.0,11.4,4.5,12.1,27.3
Turkey,5.071860,24.590000,13.6,NaN,NaN,431.67,1.704249,37.7,11.3,23.6,...,90.0,91.0,20.0,NaN,NaN,NaN,NaN,39.7,25.3,57.4
United Kingdom,22.697062,10.080000,1.8,21.497427,29.069052,501.67,1.690351,9.3,7.5,5.1,...,91.4,83.8,18.7,21.17,2.987869,15.9,22.1,24.8,9.7,35.7

# Aufgabe 1.2

In [43]:
import pandas as pd
from pandas import DataFrame, Series
fuel = pd.read_csv("d.fuel.dat", sep=",", index_col=0)

In [44]:
fuel.describe()

            weight        mpg
count    60.000000  60.000000
mean   2900.833333  24.583333
std     495.866103   4.791559
min    1845.000000  18.000000
25%    2571.250000  21.000000
50%    2885.000000  23.000000
75%    3231.250000  27.000000
max    3855.000000  37.000000

In [69]:
print(fuel.loc[5])

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

In [70]:
fuel.head()

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

In [71]:
fuel['mpg'].mean()

24.583333333333332

In [77]:
fuel.loc[7:22,'mpg'].mean()

27.75

In [82]:
t_kml = fuel.loc[:, 'mpg']*1.6096/3.789
t_kml.head()

X
1    14.018686
2    14.018686
3    15.717920
4    13.593877
5    13.593877
Name: mpg, dtype: float64

In [85]:
t_kg = fuel.loc[:, 'weight']*0.45359
t_kg.head()

X
1    1161.19040
2    1063.66855
3     836.87355
4    1025.11340
5    1106.75960
Name: weight, dtype: float64

In [87]:
print(t_kml.mean())
print(t_kg.mean())

10.443212809008525
1315.7889916666668

# Aufgabe 1.3

# Aufgabe 1.4